---
import Layout from "../../layouts/Layout.astro";
import { Content } from "../../data/icc-2025.md";

import { getCollection, render } from "astro:content";
import Card from "../../components/Card.astro";
import { getEventDuration } from "../../lib/getEventDuration";

const allEvents = await getCollection("events");
---

<Layout>
  <h1 id="next-generation-cartographers">ICC 2025 activities</h1>
  <Content />

  <div
    style={{
      display: "flex",
      flexDirection: "column",
      gap: "var(--spacing-lg)",
      paddingTop: "var(--spacing-lg)",
    }}
  >
    {
      allEvents
        .toSorted((a, b) => {
          const getTime = (d: (typeof allEvents)[number]) =>
            !d.data.dateTime ? 0 : new Date(d.data.dateTime.start).getTime();
          return getTime(a) - getTime(b);
        })
        .map(async (event, i) => {
          return (
            <a
              href={`/activities/${event.id}`}
              style={{ textDecoration: "none" }}
            >
              <Card isInteractive decoration={`"${event.data.type.at(0)}"`}>
                <div>
                  <h2 id={event.id}>{event.data.title}</h2>
                  <div>
                    <span class="monospace">Datetime</span>
                    <strong>
                      {event.data.dateTime
                        ? getEventDuration(event.data.dateTime)
                        : "tba"}
                    </strong>
                  </div>
                  <div>
                    <span class="monospace">Type</span>
                    <strong>{event.data.type}</strong>
                  </div>
                </div>
              </Card>
            </div>
          );
        })
    }
  </div>
</Layout>
