---
import Layout from "../../layouts/Layout.astro";
import { Content } from "../../data/icc-2025.md";

import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import { getEventDuration } from "../../lib/getEventDuration";

const iccEvents = await getCollection("events", (data) =>
  data.id.startsWith("icc-2025")
);
---

<Layout>
  <h1 id="next-generation-cartographers">ICC 2025 activities</h1>
  <Content />

  <div class="grid">
    {
      iccEvents
        .toSorted((a, b) => {
          const getTime = (d: (typeof iccEvents)[number]) =>
            !d.data.dateTime ? 0 : new Date(d.data.dateTime.start).getTime();
          return getTime(a) - getTime(b);
        })
        .map((event) => {
          return (
            <a
              href={`/activities/${event.id}`}
              style={{ textDecoration: "none" }}
            >
              <Card isInteractive decoration={`"${event.data.type.at(0)}"`}>
                <div>
                  <h2 id={event.id}>{event.data.title}</h2>
                  <div>
                    <span class="monospace">Datetime</span>
                    <strong>
                      {event.data.dateTime
                        ? getEventDuration(event.data.dateTime)
                        : "tba"}
                    </strong>
                  </div>
                  <div>
                    <span class="monospace">Type</span>
                    <strong>{event.data.type}</strong>
                  </div>
                </div>
              </Card>
            </a>
          );
        })
    }
  </div>
</Layout>

<style>
  .grid {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: 1fr;
    padding-top: var(--spacing-lg);

    > a {
      text-decoration: none;
      color: inherit;
      display: flex;
    }
  }
  @media (min-width: 550px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
