---
import Layout from "../../layouts/Layout.astro";
import {
  frontmatter,
  Content,
} from "../../data/30daymapchallenge/2025/maps.md";
---

<Layout>
  <Content />
  <div class="maps-gallery">
    {
      frontmatter.map((map) => (
        <div class="map-item">
          <a href={map.linkedInUrl} target="_blank" rel="noopener noreferrer">
            <p class="map-title">
              Day {map.day}, {map.topic} by {map.author}
            </p>
            <img
              src={`/src/data/30daymapchallenge/2025/${map.imageFileName}`}
              alt={`Map for day ${map.day}: ${map.topic} by ${map.author}`}
            />
          </a>
        </div>
      ))
    }
  </div>

  <style>
    .maps-gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
      justify-items: stretch;

      margin-top: 20px;
    }

    .map-item {
      position: relative;
      overflow: hidden;
      aspect-ratio: 1/1;
    }

    .map-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .map-item .map-title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 80%;
      background: linear-gradient(
        to bottom,
        var(--background) 50%,
        color-mix(in srgb, var(--background) 90%, transparent 10%) 60%,
        transparent 100%
      );
      padding: 10px;
      padding-bottom: 25px;
      margin: 0;
      height: fit-content;
    }
  </style>
</Layout>
