---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { getCollection, render } from "astro:content";
import formatDate from "../../lib/formatDate";

export async function getStaticPaths() {
  const newsCollection = await getCollection("news");
  return newsCollection.map((news) => ({
    params: { news: news.id.replace("news/", "") },
    props: { news },
  }));
}

const { news } = Astro.props;
const { Content } = await render(news);
const newsCollection = await getCollection("news");
---

<Layout>
  <article>
    <header>
      <h2 id={news.id}>{news.data.title}</h2>
      <time class="monospace" datetime={news.data.date.toISOString()}
        >{formatDate(news.data.date.toISOString())}</time
      >
    </header>

    <Content />
  </article>

  <h3 class="more-news">More news</h3>
  <div class="feature">
    <ul>
      {
        newsCollection
          .filter((entry) => entry.id !== news.id)
          .slice(0, 3)
          .map((entry) => (
            <li>
              <Card style={{ width: "100%" }}>
                <time datetime={entry.data.date.toISOString()}>
                  {formatDate(entry.data.date.toISOString())}
                </time>
                <h3 id={entry.id}>{entry.data.title}</h3>
                <a href={`/news/${entry.id}`}>
                  <button>Read more</button>
                </a>
              </Card>
            </li>
          ))
      }
    </ul>
  </div>
</Layout>

<style>
  header {
    margin-bottom: var(--spacing-lg);
  }
  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing);
    padding-left: 0;
    list-style-type: none;
    align-items: stretch;
    justify-items: stretch;
    li {
      height: 100%;
      width: 100%;
      display: flex;
      h3 {
        margin: 0;
      }
      time {
        display: block;
        font-family: var(--font-family-headline);
        margin-bottom: 0.5em;
      }
    }
  }
  @media screen and (min-width: 600px) {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .more-news {
    margin-top: var(--spacing-lg);
  }
</style>
