---
import { navigationLinks } from "../data/navigation.ts";
import normalizePath from "../lib/normalizePath";

const currentPath = Astro.url.pathname;
---

<footer>
  <div>
    <h2>Next Generation<br /> Cartographers</h2>
    <p>
      Dedicated to advocacy, support and mentorship for early career
      cartographers.
    </p>
  </div>
  <nav>
    <ul>
      {
        navigationLinks.map(({ href, label, children }) => (
          <li>
            {children ? (
              <>
                <strong class="monospace">{label}</strong>
                <ul>
                  {children.map(({ href, label }) => (
                    <li>
                      <a
                        class:list={{
                          active: href === normalizePath(currentPath),
                        }}
                        href={href}
                      >
                        {label}
                      </a>
                    </li>
                  ))}
                </ul>
              </>
            ) : (
              <a href={href}>{label}</a>
            )}
          </li>
        ))
      }
    </ul>
  </nav>
  <nav>
    <ul>
      {
        [
          { href: "/legal-notice", label: "Legal notice" },
          { href: "/privacy-notice", label: "Privacy notice" },
        ].map(({ href, label }) => (
          <li>
            <a href={href} class:list={{ active: currentPath === href }}>
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>

<style>
  footer {
    padding: 0 1.5em;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    max-width: var(--max-width);
  }
  h2 {
    font-size: 1em;
    margin-top: 0;
    line-height: 1em;
  }
  nav {
    container-type: inline-size;
    ul {
      list-style-type: none;
      margin-top: 0;
      padding-left: 0;
    }
    > ul {
      display: grid;
      gap: var(--spacing);
      grid-template-columns: repeat(2, 1fr);
      @container (min-width: 550px) {
        grid-template-columns: repeat(4, 1fr);
      }
      strong {
        margin-bottom: 0.5em;
        display: inline-block;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
      &.active::before {
        display: inline-block;
        content: "";
        width: 0.35em;
        height: 0.35em;
        margin-right: 0.1em;
        border-radius: 100%;
        background: var(--primary-gradient);
        pointer-events: none;
        vertical-align: 0.15em;
      }
    }
  }
</style>
