---
import { getCollection } from "astro:content";
import Card from "./Card.astro";
import Link from "./Link.astro";
import Time from "./Time.astro";

interface Props {
  newsEntries: Awaited<ReturnType<typeof getCollection<"news">>>;
  showSummary?: boolean;
  showMoreCard?: boolean;
}
const { showSummary = false, newsEntries, showMoreCard = true } = Astro.props;

const news = newsEntries.toSorted((a, b) => {
  const aDate = new Date(a.data.date);
  const bDate = new Date(b.data.date);
  return bDate.getTime() - aDate.getTime();
});
---

<ul>
  {
    news.map((entry) => (
      <li>
        <Card style={{ width: "100%" }}>
          <div class="card-content">
            <Time datetime={entry.data.date.toISOString()} format="date" />
            <h3 id={entry.id}>{entry.data.title}</h3>
            {showSummary && <p>{entry.data.summary}</p>}
            <div style="margin-top: auto;">
              <Link href={`/news/${entry.id}`}>Read more</Link>
            </div>
          </div>
        </Card>
      </li>
    ))
  }
  {
    showMoreCard && (
      <li>
        <Card
          style={{
            width: "100%",
            backgroundColor: "rgb(var(--secondary))",
          }}
        >
          <div class="card-content">
            <h3>News overview</h3>
            <p>Check out our news section for more updates.</p>
            <div style="margin-top: auto;">
              <Link href="/news">All news</Link>
            </div>
          </div>
        </Card>
      </li>
    )
  }
</ul>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing);
    padding-left: 0;
    list-style-type: none;
    align-items: stretch;
    justify-items: stretch;
    li {
      height: 100%;
      width: 100%;
      display: flex;
      time {
        display: block;
        font-family: var(--font-family-headline);
        margin-bottom: 0.5em;
      }
    }
  }
  @media screen and (min-width: 600px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .card-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    align-items: start;
    height: 100%;
  }
  h3 {
    margin: 0;
    font-size: 1.2em;
  }
</style>
