---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection, getEntries, render } from "astro:content";
import AuthorCard from "../../../components/AuthorCard.astro";
import TableOfContents from "../../../components/table-of-contents.astro";
import Time from "../../../components/Time.astro";
import Layout from "../../../layouts/Layout.astro";
import Avatar from "../../../components/Avatar.astro";
import { resolveImageUrl } from "../../../lib/resolveImageUrls";

export async function getStaticPaths() {
  const tutorials = await getCollection("tutorials");
  const headings = await Promise.all(
    tutorials.map(async (tutorial) => {
      const data = await render(tutorial);
      return data.headings;
    }),
  );
  return tutorials.map((tutorial, idx) => ({
    params: { tutorial: tutorial.id.replace("resources/tutorials/", "") },
    props: { tutorial, headings: headings[idx] },
  }));
}

type Props = {
  tutorial: CollectionEntry<"tutorials">;
  headings: MarkdownHeading[];
};

const { tutorial, headings } = Astro.props;
const authors = await getEntries(tutorial.data.authors);
const reviewers = tutorial.data.reviewers
  ? await getEntries(tutorial.data.reviewers)
  : undefined;
const { Content } = await render(tutorial);
const ogImageEndpoint =
  "og/" + tutorial.id.replace("resources/tutorials/", "").replace(/\//g, "-");
---

<Layout
  metaTitle={tutorial.data.title}
  metaDescription={tutorial.data.summary}
  metaImage={resolveImageUrl(ogImageEndpoint)}
  style={{
    "--background": "var(--tutorial-background)",
    "--text-color": "var(--long-text-color)",
  }}
>
  <header slot="site-header">
    <h1 id={tutorial.id}>{tutorial.data.title}</h1>
    <div class="tutorial-info">
      <div>
        <div class="authors">
          {
            authors.map((a) => (
              <div class="author-chip">
                <Avatar
                  src={a.data.avatar}
                  size={20}
                  alt={`Avatar of ${a.data.name}`}
                />
                <div>{a.data.name}</div>
              </div>
            ))
          }
        </div>
        <Time
          datetime={tutorial.data.publicationDate.toISOString()}
          format="date"
        />
      </div>
      <hr />
      <div>
        Topics
        <ul class="keywords">
          {tutorial.data.keywords?.map((keyword) => <li>{keyword}</li>)}
        </ul>
      </div>
    </div>
    <p class="summary">
      {tutorial.data.summary}
    </p>
  </header>
  <TableOfContents slot="aside-left" {headings} />

  <div slot="constrained-content">
    <Content />
  </div>

  {
    reviewers && (
      <section>
        <h2>Reviewers</h2>
        We would like to thank{" "}
        {reviewers.map((d, i) => (
          <>
            {reviewers.length > 1 && i === reviewers.length - 1
              ? "and "
              : reviewers.length === 1 || i === 0
                ? ""
                : ", "}
            <strong>{d.data.name}</strong>
          </>
        ))}{" "}
        for reviewing this tutorial and for providing their valuable time and
        feedback.
      </section>
    )
  }

  <section>
    <h2>About the author{authors.length > 1 ? "s" : ""}</h2>
    {authors.map((d) => <AuthorCard author={d} />)}
  </section>
</Layout>

<style is:global>
  article > header {
    max-width: 70rem;
    margin: 0 auto var(--spacing-lg);
  }

  .main-content p img {
    margin: var(--spacing) 0;
  }
</style>

<style>
  article {
    > header {
      margin-bottom: var(--spacing-lg);
      font-family: var(--font-family-headline);
    }
  }

  @media screen and (min-width: 768px) {
    article header {
      padding: 15vmin 10% 3em 10%;
      container-type: inline-size;
    }
  }

  h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 6em;
    line-height: 1.1em;
  }

  .tutorial-info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    margin: var(--spacing) 0;
    @container (min-width: 600px) {
      flex-direction: row;
      align-items: stretch;
    }

    hr {
      border: 0;
      width: 1px;
      background-color: var(--muted);
      margin: 0 var(--spacing);
    }
  }

  ul.keywords {
    list-style: none;
    display: flex;
    gap: var(--spacing-xs);
    padding-left: 0;
    margin: 0;
    font-size: small;
    li {
      padding: 0.2em 0.4em;
      border-radius: var(--border-radius-xs);
      border: 1px solid rgb(var(--primary));
    }
  }

  .summary {
    font-size: 1.5em;
  }

  .author-chip {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
</style>
