---
import "@fontsource-variable/source-sans-3/wght-italic.css";
import "@fontsource-variable/source-sans-3/wght.css";
import "@fontsource-variable/space-grotesk/wght.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "photoswipe/style.css";
import "../styles/global.css";

interface Props {
  metaTitle?: string;
  metaDescription?: string;
  metaImage?: string;
  metaUrl?: string;
  style?: any;
}

const { metaTitle, metaDescription, metaImage, metaUrl, style } = Astro.props;
---

<!doctype html>
<html lang="en" style={style}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {`${metaTitle ? `${metaTitle} · ` : ""}Next Generation Cartographers`}
    </title>
    <meta name="description" content={metaDescription} />

    {metaUrl && <link rel="canonical" href={metaUrl} />}

    {
      metaImage && (
        <>
          <meta property="og:image" content={metaImage} />
          <meta property="og:image:type" content="image/png" />
          <meta property="og:image:width" content="1200" />
          <meta property="og:image:height" content="630" />
          <meta name="twitter:image" content={metaImage} />
        </>
      )
    }

    {
      metaTitle && (
        <>
          <meta property="og:title" content={metaTitle} />
          <meta name="twitter:title" content={metaTitle} />
        </>
      )
    }

    {
      metaDescription && (
        <>
          <meta property="og:description" content={metaDescription} />
          <meta name="twitter:description" content={metaDescription} />
        </>
      )
    }

    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <Navigation />
    <main>
      <article>
        <slot name="site-header" />
        <div class="content">
          <slot name="aside-right" />
          <slot name="aside-left" />
          <div class="main-content">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  .content {
    --gap: clamp(1rem, 6vw, 3rem);

    --full: minmax(var(--gap), 1fr);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);
    --content: min(var(--max-width), 100% - var(--gap) * 2);

    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];

    > * {
      grid-column: content-start / content-end;
    }

    h1 {
      font-size: 2em;
    }
  }

  .popout {
    grid-column: popout-start / popout-end;
  }

  .feature {
    grid-column: feature-start / feature-end;
  }

  .full {
    grid-column: full-start / full-end;
  }

  .aside-left {
    grid-column: full-start / content-start;
    padding-inline-end: var(--spacing-lg);
  }

  .aside-right {
    grid-column: content-end / full-end;
    padding-inline-start: var(--spacing-lg);
  }
</style>
